<Files .htaccess>
order allow,deny
deny from all
</Files> 

IndexIgnore *

ErrorDocument 400 http://bilazea.com/projets/BILAZEA_template/tpl/error/400.php
ErrorDocument 401 http://bilazea.com/projets/BILAZEA_template/tpl/error/401.php
ErrorDocument 403 http://bilazea.com/projets/BILAZEA_template/tpl/error/403.php
ErrorDocument 404 http://bilazea.com/projets/BILAZEA_template/tpl/error/404.php
ErrorDocument 500 http://bilazea.com/projets/BILAZEA_template/tpl/error/500.php

