<Files .htaccess>
order allow,deny
deny from all
</Files> 

IndexIgnore *

ErrorDocument 400 http://localhost/Bilazea-template/index.php?content=Error400
ErrorDocument 401 http://localhost/Bilazea-template/index.php?content=Error401
ErrorDocument 403 http://localhost/Bilazea-template/index.php?content=Error403
ErrorDocument 404 http://localhost/Bilazea-template/index.php?content=Error404
ErrorDocument 500 http://localhost/Bilazea-template/index.php?content=Error500
