<Files .htaccess>
order allow,deny
deny from all
</Files> 

IndexIgnore *

ErrorDocument 400 http://bilazea.com/Bilazea-template/index.php?content=Error400
ErrorDocument 401 http://bilazea.com/Bilazea-template/index.php?content=Error401
ErrorDocument 403 http://bilazea.com/Bilazea-template/index.php?content=Error403
ErrorDocument 404 http://bilazea.com/Bilazea-template/index.php?content=Error404
ErrorDocument 500 http://bilazea.com/Bilazea-template/index.php?content=Error500

AddEncoding gzip .gz
RewriteCond %{HTTP:Accept-encoding} gzip
RewriteCond %{HTTP_USER_AGENT} !Safari
RewriteCond %{REQUEST_FILENAME}.gz -f
RewriteRule ^(.*)$ $1.gz [QSA,L]
